.App {
  padding-top: 120px; /* Увеличиваем отступ, чтобы оставить место для панели сверху */
  padding-bottom: 20px;
  text-align: center;
  background-color: #ffffff;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.color-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 20px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
  z-index: 1000;
}

.color-info div {
  margin-right: 20px;
}

.image-size {
  display: inline-block;
  margin-right: 20px;
}

.slider-container {
  display: inline-block;
  margin-right: 20px;
}

.load {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text {
  display: flex;
  flex-direction: column;
}

.color {
  margin-top: 10px;
  display: flex;
}

.size_button {
  background-color: #40ff00;
  border-color: #40ff00;
  color: white;
  width: 140px;
  height: 30px;
  border-radius: 10px;
}

.save_button {
  background-color: #40ff00;
  border-color: #40ff00;
  color: white;
  width: 100px;
  height: 30px;
  border-radius: 10px;
}

.uploader__preview {
  width: 200px;
  height: 200px;
  border: 1px dashed gray;
  border-radius: 12px;
}

.uploader__canvas {
  height: auto;
  width: auto;
  border: 1px solid black;
}

.canvas-container {
  position: relative;
  overflow: auto;
  max-width: 1000px;
  max-height: 600px;
  margin: 80px auto 0;
}

.url-button {
  cursor: pointer;
  color: white;
  background-color: #40ff00;
  border: 1px solid #40ff00;
  border-radius: 8px;
  padding: 10px;
}

.url-button:hover {
  background-color: #218838;
}
