
.App {
  padding-top: 70px;
  padding-bottom: 20px;
  text-align: center;
  background-color: #1a1a1a;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}
.color-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: sticky;
  text-align: center;
  min-width: 200px;
  margin: 10px;
  right: 20px;
  top: 60px;
  bottom: 60px;
}
.image-size {
  margin-bottom: 10px;
}

.load {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.text {
  display: flex;
  flex-direction: column;
}


.App-link {
  color: #61dafb;
}

.color {
  margin-top: 10px;
  display: flex;
}

.uploader__upload-button {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.uploader__button {
  cursor: pointer;
  color: white;
  background-color: #007bff;
  border: 1px solid #007bff;
  border-radius: 12px;
  padding: 15px;
  transition: background-color 0.3s ease;
}

.uploader__button:hover {
  background-color: #0056b3;
}

.uploader {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: center;
  gap: 12px;
}

.uploader__preview {
  width: 200px;
  height: 200px;
  border: 1px dashed gray;
  border-radius: 12px;
}

.uploader__canvas {
  height: auto;
  width: auto;
}

.url-button {
  cursor: pointer;
  color: white;
  background-color: #28a745;
  border: 1px solid #28a745;
  border-radius: 8px;
  padding: 10px;

}

.url-button:hover {
  background-color: #218838;
}

.url-input {
  padding: 5px;
}

.url-uploader {
  margin-top: 5px;
}
.uploader__canvas {
  border: 1px solid black;
}


.canvas-container {
  position: relative;
  overflow: auto;
  max-width: 800px; /* Установите максимальную ширину для видимости полос прокрутки */
  max-height: 600px; /* Установите максимальную высоту для видимости полос прокрутки */
}

