.App {
padding: 70px;
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.color-info{
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #484949; 
  padding: 10px;
}

.App-link {
  color: #61dafb;
}
.color{
  display: flex;
}

.uploader__upload-button {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.uploader__button {
  cursor: pointer;
  color: #000;
  background-color: white;
  border: 1px solid black;
  border-radius: 12px;
  padding: 20px;
}

.uploader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.uploader__preview {
  width: 200px;
  height: 200px;
  border: 1px dashed gray;
  border-radius: 12px;
}
.uploader__canvas{
  height: auto;
  width: auto;
}
